$white: #ffffff;
$black: #041b15;
$main: #13ca46;
$bg: #f7faff;
$gray: #a2b6c8;
$light-gray: #d1d7dc;
$red: #ea5757;
$main-red: linear-gradient(0deg, #e02a4b, #e02a4b);
$text-color: #0c1534;
$text-dull: #6a7c92;
$transition: all 0.5s ease-out;;