.masters-section {}

.masters-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: calc(600px - 100vw / 4);
    min-height: 170px;
    &__item {
        margin-bottom: 20px;
        margin-right: 20px;
    }
    @media (max-width: 600px) {
        flex-direction: row;
        justify-content: space-evenly;
        height: unset;
    }
}