@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-LightItalic.eot?2b2a3f45171f8cb9a896a31b21012202);
    src: url(/fonts/Mulish-LightItalic.eot?2b2a3f45171f8cb9a896a31b21012202?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-LightItalic.woff2?555589c76e7eeb81981169e315ff83f6) format('woff2'),
        url(/fonts/Mulish-LightItalic.woff?3c5bc927e3e6a13012caac4c2b8561ed) format('woff'),
        url(/fonts/Mulish-LightItalic.ttf?11cb1daaa6a200202e5898eb340ce6ce) format('truetype'),
        url(/fonts/Mulish-LightItalic.svg?0c848652b4c2d722e462e4e4d4ba8473#Mulish-LightItalic) format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-ExtraBold.eot?5313e1032bf4c63042790a20bc6ee3d7);
    src: url(/fonts/Mulish-ExtraBold.eot?5313e1032bf4c63042790a20bc6ee3d7?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-ExtraBold.woff2?bc8a82af929a2dec274a024735176a0a) format('woff2'),
        url(/fonts/Mulish-ExtraBold.woff?c51dfa04fa3f7b7ac9cbf67ec0d4b7bf) format('woff'),
        url(/fonts/Mulish-ExtraBold.ttf?4f31a7bdd0a46bc37a60c8d50d385a34) format('truetype'),
        url(/fonts/Mulish-ExtraBold.svg?fb95dcdebdbd9a531092ee8536be0253#Mulish-ExtraBold) format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-Medium.eot?a7424c5a1881d98bd7f1fd97d6680eaa);
    src: url(/fonts/Mulish-Medium.eot?a7424c5a1881d98bd7f1fd97d6680eaa?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-Medium.woff2?274391949d487e9428bd2dbd2594ee36) format('woff2'),
        url(/fonts/Mulish-Medium.woff?5ff01ad2c56b7e76163a2e81934f1ac9) format('woff'),
        url(/fonts/Mulish-Medium.ttf?f58d5bf283e86cc24ef0cefe549bbeee) format('truetype'),
        url(/fonts/Mulish-Medium.svg?79c0fe92a5ab83f14f96032307a43ad7#Mulish-Medium) format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-SemiBold.eot?b7423b05b7b0b4ae72cafc218fcbbf9e);
    src: url(/fonts/Mulish-SemiBold.eot?b7423b05b7b0b4ae72cafc218fcbbf9e?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-SemiBold.woff2?33569a7ad9b11cd96719b8e603fc4b21) format('woff2'),
        url(/fonts/Mulish-SemiBold.woff?a7e56602b9035704698642a8e4622e8d) format('woff'),
        url(/fonts/Mulish-SemiBold.ttf?8185e6831357c2a8dc9f5474dfb91cb4) format('truetype'),
        url(/fonts/Mulish-SemiBold.svg?ae422cd27d3f6ee2cf783644256b5253#Mulish-SemiBold) format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-ExtraLightItalic.eot?6d5aa0565a184153b32bb08c70089925);
    src: url(/fonts/Mulish-ExtraLightItalic.eot?6d5aa0565a184153b32bb08c70089925?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-ExtraLightItalic.woff2?84ab664085e40b15ccc3a115f4bcdf99) format('woff2'),
        url(/fonts/Mulish-ExtraLightItalic.woff?b7ebc41016d7227570f59e25807259cd) format('woff'),
        url(/fonts/Mulish-ExtraLightItalic.ttf?a1702bb08381d788caa30496bc19a6aa) format('truetype'),
        url(/fonts/Mulish-ExtraLightItalic.svg?ad6b012ff01be12c58aac9de25f67435#Mulish-ExtraLightItalic) format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-Light.eot?20327ee389ea713173ff07392b859a07);
    src: url(/fonts/Mulish-Light.eot?20327ee389ea713173ff07392b859a07?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-Light.woff2?f7bd231378fa9d61a8d27c782503cc0e) format('woff2'),
        url(/fonts/Mulish-Light.woff?04dbad679c30f34c7875b7855078e90f) format('woff'),
        url(/fonts/Mulish-Light.ttf?800a9bb752737b75885194aa64552fbf) format('truetype'),
        url(/fonts/Mulish-Light.svg?29d23759a7f0b2bbcbf5bd33d429fe20#Mulish-Light) format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-Bold.eot?1c6a613104d7f0c016b5462bb478c5c5);
    src: url(/fonts/Mulish-Bold.eot?1c6a613104d7f0c016b5462bb478c5c5?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-Bold.woff2?ff77b88a2e5704a6888acd1792492814) format('woff2'),
        url(/fonts/Mulish-Bold.woff?9f046c6eeda9ec0b853fcfda5c560b12) format('woff'),
        url(/fonts/Mulish-Bold.ttf?1155f3ad0f9b3590c078e91cee8a3f68) format('truetype'),
        url(/fonts/Mulish-Bold.svg?5333486fce457cc0467ce0fdffb0b74d#Mulish-Bold) format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-ExtraLight.eot?ecbadf3b98d46e34da27b098deb5803a);
    src: url(/fonts/Mulish-ExtraLight.eot?ecbadf3b98d46e34da27b098deb5803a?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-ExtraLight.woff2?4b2f81f4c0d0d7e4933c5811fce542a0) format('woff2'),
        url(/fonts/Mulish-ExtraLight.woff?f21caf9a8766149f21bb3de41d302d4b) format('woff'),
        url(/fonts/Mulish-ExtraLight.ttf?94f4f51373b23258f1cd6b6b3123a84a) format('truetype'),
        url(/fonts/Mulish-ExtraLight.svg?a269848afd8608b23ad5951ffb1082c0#Mulish-ExtraLight) format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-ExtraBoldItalic.eot?a3211f05be960c8db56c3d628c2d1413);
    src: url(/fonts/Mulish-ExtraBoldItalic.eot?a3211f05be960c8db56c3d628c2d1413?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-ExtraBoldItalic.woff2?6a43b1ffb596567f4a9fcb68c439579b) format('woff2'),
        url(/fonts/Mulish-ExtraBoldItalic.woff?11d1ef0d8863565bf3b663f0509824a1) format('woff'),
        url(/fonts/Mulish-ExtraBoldItalic.ttf?89137a2c7ccc431cc4fc4bd73bc7b975) format('truetype'),
        url(/fonts/Mulish-ExtraBoldItalic.svg?6bce6a138f1cd617a2c72032b7393e98#Mulish-ExtraBoldItalic) format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-BoldItalic.eot?d80c0ffcbde2788bb1985f445b7975ff);
    src: url(/fonts/Mulish-BoldItalic.eot?d80c0ffcbde2788bb1985f445b7975ff?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-BoldItalic.woff2?5fee2f092603b2c19675b82c6cb6458c) format('woff2'),
        url(/fonts/Mulish-BoldItalic.woff?874629e204da71a872076eb0dcc87742) format('woff'),
        url(/fonts/Mulish-BoldItalic.ttf?54551c53de4bcdebb508ac7d7a25d1be) format('truetype'),
        url(/fonts/Mulish-BoldItalic.svg?66ce866f6c2acb60d2c4eea5ee7ddb8d#Mulish-BoldItalic) format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-Black.eot?6014d9106ec3472035e2a75a627d82bb);
    src: url(/fonts/Mulish-Black.eot?6014d9106ec3472035e2a75a627d82bb?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-Black.woff2?bdbcb919e548fb3c3febb7eca9010b01) format('woff2'),
        url(/fonts/Mulish-Black.woff?b662452450e4043b5068beb29224a2e0) format('woff'),
        url(/fonts/Mulish-Black.ttf?e5311e6e336254c64bafb1331719414f) format('truetype'),
        url(/fonts/Mulish-Black.svg?c8342c36a44a83ca8233cf01d9d58bab#Mulish-Black) format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-BlackItalic.eot?0243be13c410f7c688369e42488f2e30);
    src: url(/fonts/Mulish-BlackItalic.eot?0243be13c410f7c688369e42488f2e30?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-BlackItalic.woff2?bb08540126f1527375175bdda7a42a57) format('woff2'),
        url(/fonts/Mulish-BlackItalic.woff?b7e1150a16a064c27f07b0726acd18e7) format('woff'),
        url(/fonts/Mulish-BlackItalic.ttf?2944eca11e2f3571fd060fc280b73c87) format('truetype'),
        url(/fonts/Mulish-BlackItalic.svg?d1da9ef1a1ff5890d88e136692db7d75#Mulish-BlackItalic) format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-MediumItalic.eot?50a837334041b05dcaac6af36918be3e);
    src: url(/fonts/Mulish-MediumItalic.eot?50a837334041b05dcaac6af36918be3e?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-MediumItalic.woff2?b9beb6ca5b38a4d00b0581088e6047ea) format('woff2'),
        url(/fonts/Mulish-MediumItalic.woff?f9cb24a18b5b4e47279bb654e8684c35) format('woff'),
        url(/fonts/Mulish-MediumItalic.ttf?2398a52445a2f5def5c80a076f698dfd) format('truetype'),
        url(/fonts/Mulish-MediumItalic.svg?cca832bb01631b358eb2ef523cea2a94#Mulish-MediumItalic) format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-Regular.eot?39d0873ed52e117f089e8dd0f77e1dce);
    src: url(/fonts/Mulish-Regular.eot?39d0873ed52e117f089e8dd0f77e1dce?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-Regular.woff2?7bcb9514270550b88daa5521b0bd990b) format('woff2'),
        url(/fonts/Mulish-Regular.woff?6e636bdad93275bb7c35299316b5a824) format('woff'),
        url(/fonts/Mulish-Regular.ttf?d8529ef4b5107c99c6131c688300bcde) format('truetype'),
        url(/fonts/Mulish-Regular.svg?df5f972d28c4e68db2a2113998492963#Mulish-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-Italic.eot?81d3fc6061d1845988dab86b4963aed9);
    src: url(/fonts/Mulish-Italic.eot?81d3fc6061d1845988dab86b4963aed9?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-Italic.woff2?1597884f8a73b33b75105cfae573b348) format('woff2'),
        url(/fonts/Mulish-Italic.woff?00e9dbbc8e36d146b2bde72df47a9e06) format('woff'),
        url(/fonts/Mulish-Italic.ttf?d864c6ea79344dc0bfa8c950e7a1c0ce) format('truetype'),
        url(/fonts/Mulish-Italic.svg?fd7ccee07ae623b135c55ea7f40a90c6#Mulish-Italic) format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-SemiBoldItalic.eot?8f1ae6353c1f9e0b7e6052813b2ed903);
    src: url(/fonts/Mulish-SemiBoldItalic.eot?8f1ae6353c1f9e0b7e6052813b2ed903?#iefix) format('embedded-opentype'),
        url(/fonts/Mulish-SemiBoldItalic.woff2?e635ddab48ab0b0429141fc33c1b8384) format('woff2'),
        url(/fonts/Mulish-SemiBoldItalic.woff?3910bfcfc7db86ddb2c311549009c71d) format('woff'),
        url(/fonts/Mulish-SemiBoldItalic.ttf?2168e73b85c10902391e789dc561eaf1) format('truetype'),
        url(/fonts/Mulish-SemiBoldItalic.svg?d41d8753a0c8ad63dfad54ff87ffb543#Mulish-SemiBoldItalic) format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

button {
  background: none;
}

.h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
}

.h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 126.5%;
}

.h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.text-bigger {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.text-big {
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.text-medium {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}

.text-small {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.link {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.3s ease-out;
  cursor: pointer;
  color: #041b15;
  white-space: nowrap;
  transition: all 0.3s ease-out;
}
.link:hover {
  color: #ea5757;
}

.link_red {
  color: #ea5757;
}

.link_gray {
  color: #6a7c92;
}

.link-green {
  color: #13ca46;
}

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: #041b15;
  padding: 12px 15px;
  border: 1px solid #13ca46;
}
.button:hover {
  border-color: #ea5757;
  color: #ea5757;
}

.button-main {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #13ca46;
  color: #ffffff;
  padding: 12px 15px;
  border: 1px solid #13ca46;
}
.button-main:hover {
  background: #ea5757;
  border: 1px solid #ea5757;
}

.free-call {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #6a7c92;
}

.blog-text {
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}

.blog-card-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #6a7c92;
}

.blog-card-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #0c1534;
}

.blog-button {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6a7c92;
  border: 1px solid #6a7c92;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  white-space: nowrap;
  transition: all 0.3s ease-out;
}
.blog-button:hover {
  background: #6a7c92;
  color: #ffffff;
}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d1d7dc;
  background: #f7faff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.header .container {
  display: grid;
  grid-template-columns: 170px 70px 35%;
  width: 100%;
  position: relative;
}
@media (max-width: 1024px) {
  .header .container {
    grid-template-columns: auto 1fr auto;
  }
}
.header__logo {
  display: flex;
  max-width: 155px;
}
.header__logo img {
  width: 100%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 4/6;
}
@media (max-width: 1024px) {
  .header__nav {
    opacity: 0;
    position: absolute;
    top: 64px;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    background: #f7faff;
    transition: all 0.3s ease-out;
    transform: translateX(100%);
  }
}
.header__nav_active {
  opacity: 1;
  transform: translateX(0%);
}
.header__nav_item {
  padding: 15px 20px;
}
.header-cities {
  display: flex;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header-cities__select {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header-cities__select svg {
  transition: all 0.3s ease-out;
}
.header-cities__select svg path {
  transition: all 0.3s ease-out;
  stroke: red;
}
.header-cities__selected {
  margin-right: 5px;
}
.header-cities__list {
  position: absolute;
  top: 76px;
  left: -6px;
  width: 200px;
  border: 1px solid #d1d7dc;
  border-top: none;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  transform: translateY(-201px);
  opacity: 0;
  z-index: -1;
}
@media (max-width: 1024px) {
  .header-cities__list {
    top: 64px;
  }
}
.header-cities_open .header-cities__list {
  transform: translateY(0);
  opacity: 1;
}
.header-cities_open .header-cities__select svg {
  transform: rotate(90deg);
}
.header-cities__item {
  padding: 10px;
  background: #f7faff;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.header-cities__item:hover {
  color: #ea5757;
}
@media (max-width: 1024px) {
  .header-cities {
    margin-left: auto;
    margin-right: 20px;
  }
}
.header__phone {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-align: right;
}
@media (max-width: 1024px) {
  .header__phone {
    text-align: left;
  }
}

.nav-close {
  display: none;
}
@media (max-width: 1024px) {
  .nav-close {
    display: block;
  }
}

.nav-toggle {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
}

.line {
  fill: none;
  stroke: #041b15;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: #ea5757;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
  stroke: #ea5757;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: #ea5757;
}

.banner-section {
  background: #f7faff;
}
.banner-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .banner-section {
    padding-top: 30px;
  }
}

.banner-form .h1,
.banner-form .text-medium {
  margin-bottom: 20px;
}

.find-service {
  display: flex;
  flex-direction: column;
}
.find-service__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.find-service__examples {
  display: flex;
  flex-direction: column;
}
.find-service__examples .text-small {
  color: #6a7c92;
}
.find-service__examples .blog-button {
  margin-right: 15px;
}
@media (max-width: 600px) {
  .find-service__examples {
    display: none;
  }
}
.find-service__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.find-service .button-main {
  align-self: flex-end;
}
@media (max-width: 600px) {
  .find-service .button-main {
    width: 100%;
  }
}

.banner__img {
  max-width: 515px;
  margin-left: 30px;
}
.banner__img img {
  width: 100%;
}
@media (max-width: 950px) {
  .banner__img {
    display: none;
  }
}

.custom-select {
  position: relative;
}
.custom-select__list {
  border: 1px solid #a2b6c8;
  border-top: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: #ffffff;
  max-height: 201px;
  overflow-y: auto;
}
.custom-select__item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.custom-select__item:hover {
  background: #ea5757;
  color: #ffffff;
}

.list-open {
  display: flex;
}

.masters-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 170px;
}
.masters-list__item {
  margin-bottom: 20px;
}

.work-stages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work-stages__item {
  max-width: 280px;
  padding-left: 20px;
  border-left: 1px solid #a2b6c8;
}
@media (max-width: 950px) {
  .work-stages__item {
    margin-bottom: 30px;
  }
  .work-stages__item:nth-last-child(1) {
    margin-bottom: 0px;
  }
}
.work-stages__item .h4 {
  margin-bottom: 20px;
}

.request {
  background: #f7faff;
  position: relative;
  display: flex;
  align-items: center;
  padding: 80px 30px !important;
  margin-top: 110px !important;
}
.request__content {
  max-width: 570px;
}
.request__content .text-big {
  margin: 20px 0;
}
.request__buttons {
  display: flex;
}
.request__buttons .button-main {
  margin-right: 10px;
}
.request__img {
  position: absolute;
  top: -60px;
  right: 0;
  max-width: 410px;
}
.request__img img {
  width: 100%;
}
@media (max-width: 950px) {
  .request__img {
    display: none;
  }
}
@media (max-width: 950px) {
  .request {
    margin-top: 0 !important;
  }
}
@media (max-width: 600px) {
  .request {
    padding: 30px 30px !important;
  }
}

.reviews-swiper {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.reviews-swiper-slide {
  max-width: 395px;
}

.review-card {
  background: #f7faff;
  padding: 20px;
  max-width: 395px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.review-card__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.review-card__header .text-big {
  color: #6a7c92;
}
.review-card__img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}
.review-card__img img {
  width: 100%;
}
.main-blog-section .link_red {
  text-decoration: underline;
}

.main-blogs {
  display: flex;
  flex-wrap: wrap;
}

.registration-section {
  padding-top: 20px;
}

.master-form {
  margin-top: 40px;
  max-width: 670px;
}
.master-form .h4 {
  margin-bottom: 30px;
}
.master-form__data {
  margin-bottom: 30px;
}
.master-form__field {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  margin-bottom: 20px;
}
.master-form__field label {
  margin-right: 30px;
}
@media (max-width: 700px) {
  .master-form__field {
    grid-template-columns: 1fr;
  }
  .master-form__field label {
    margin-bottom: 10px;
  }
}
.master-form__services {
  margin-bottom: 30px;
}
.master-form__boxes {
  display: grid;
  grid-template-columns: 360px 360px;
}
.master-form__boxes .check {
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  .master-form__boxes {
    grid-template-columns: 1fr;
  }
}

.impresum-section {
  padding-top: 20px;
  overflow-wrap: anywhere;
}

.impresum__field {
  margin-bottom: 20px;
}
.impresum__field:nth-last-child(1) {
  margin-bottom: 0px;
}
.impresum__field_social {
  display: flex;
  flex-direction: column;
}
.impresum__field_social .h4:nth-child(1) {
  margin-right: 20px;
}

.article-section {
  padding-top: 50px;
}
.article-section .container {
  display: grid;
  grid-template-columns: minmax(400px, 820px) 300px;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .article-section .container {
    grid-template-columns: 1fr;
  }
}
.article-section .article__crums {
  margin-bottom: 20px;
}
.article-section .blog-card-filter:nth-child(1) {
  margin-right: 10px;
}

.article {
  margin-right: 30px;
}
.article__img {
  width: 100%;
  margin-bottom: 30px;
}
.article__img img {
  width: 100%;
}
.article__share {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.article__share .text-big {
  margin-right: 10px;
}
@media (max-width: 900px) {
  .article {
    margin-right: 0px;
  }
}

.more-articles .h4 {
  margin-bottom: 30px;
}
.more-articles__container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .more-articles__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.blog-section {
  padding-top: 40px;
}
.blog-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .blog-header {
    flex-direction: column;
  }
}
.blog-header .h2 {
  margin-right: 30px;
}
@media (max-width: 600px) {
  .blog-header .h2 {
    margin: 0px 0px 30px 0px;
  }
}
.blog-header__crumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-header__crumbs .text-medium,
.blog-header__crumbs .blog-button {
  margin-right: 10px;
  margin-bottom: 5px;
}
.blog-header__crumbs .blog-button:nth-last-child(1) {
  margin-right: 0px;
}
.blog-card {
  width: 272px;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}
.blog-card__img {
  width: 100%;
  overflow: hidden;
}
.blog-card__img img {
  width: 100%;
  transition: all 0.3s ease-out;
}
.blog-card__description {
  margin-top: 10px;
}
.blog-card .blog-card-text {
  margin: 10px 0 20px;
}
@media (max-width: 600px) {
  .blog-card {
    width: 100%;
    margin-right: 0px;
  }
  .blog-card:nth-last-child(1) {
    margin-bottom: 0;
  }
}
.blog-card__link:hover .blog-card__img img {
  transform: scale(1.1);
}
@media (min-width: 600px) {
  .blog-card_big {
    max-width: 575px;
    max-height: 300px;
    width: 100%;
  }
  .blog-card_big img {
    filter: brightness(50%);
  }
  .blog-card_big .blog-card__img {
    height: 100%;
  }
  .blog-card_big .blog-card__description {
    position: absolute;
    top: 15%;
    left: 40px;
  }
  .blog-card_big .blog-card-filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #ffffff;
  }
  .blog-card_big .blog-card-text {
    font-weight: 700px;
    font-size: 32px;
    line-height: 40.16px;
    color: #ffffff;
  }
  .blog-card_big svg path {
    fill: #ffffff;
  }
}
.blog-pagination {
  margin-top: 40px;
  display: flex;
}
.blog-pagination__btn {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #d1d7dc;
  border-right: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.blog-pagination__btn:nth-last-child(1) {
  border: 1px solid #d1d7dc;
}
.blog-pagination__btn_active, .blog-pagination__btn:hover {
  background: #13ca46;
  color: #ffffff;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

.questions-stages-section {
  padding: 40px;
  margin-bottom: 0 !important;
}

.questions-section {
  background: #f7faff;
  padding: 40px 0;
  margin-bottom: 0 !important;
}

.questions-steps {
  max-width: 750px;
}
.questions-steps__slider {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .questions-steps__slider {
    flex-direction: column;
  }
}
.questions-steps__swiper {
  max-width: 550px;
  overflow: hidden;
}
.questions-steps__buttons {
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}
.questions-steps__buttons .button {
  margin-right: 10px;
}
@media (max-width: 800px) {
  .questions-steps__buttons {
    align-self: flex-start;
  }
}
.questions-steps__item .h2 {
  margin-bottom: 30px;
}
.questions-steps__input {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.questions-steps__input .input-field {
  margin-bottom: 10px;
}
.questions-steps__input .input-field:nth-last-child(1) {
  margin-bottom: 0;
}
.questions-steps__input .button {
  margin: 0 10px 0 20px;
}
.questions-steps__pagi {
  margin-top: 30px;
}
.questions-steps .find-service__examples {
  max-width: 400px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #ffffff;
  max-width: 570px;
  max-height: 355px;
  padding: 70px 80px 75px;
  display: flex;
  flex-direction: column;
}
.modal__content .h4 {
  margin: 25px 0;
}

.modal-open {
  visibility: visible;
  opacity: 1;
}

.footer {
  border-top: 1px solid #d1d7dc;
  padding: 35px 0;
}
.footer .container {
  display: grid;
  grid-template-areas: "nav contacts" "policy contacts";
}
@media (max-width: 700px) {
  .footer .container {
    grid-template-areas: "nav" "contacts" "policy";
  }
}
.footer__nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .footer__nav {
    min-height: 150px;
  }
}
.footer__contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  min-height: 220px;
}
@media (max-width: 700px) {
  .footer__contacts {
    margin: 20px 0;
  }
}
.footer__policy {
  grid-area: policy;
  display: flex;
  align-items: center;
}
.footer__policy a::after {
  content: "|";
  margin: 0 10px;
}
.footer__policy a:nth-last-child(1)::after {
  content: none;
}
@media (max-width: 700px) {
  .footer__policy {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__policy a::after {
    content: none;
  }
}
.footer__phone {
  display: flex;
  flex-direction: column;
}
.footer__time {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.3s ease-out;
  cursor: unset;
}
.footer__socials {
  max-width: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.social-link:hover svg path,
.social-link:nth-child(1):hover rect {
  fill: #ea5757;
  transition: all 0.3s ease-out;
}

.social-link:nth-child(1):hover svg path {
  fill: #f7faff;
  transition: all 0.3s ease-out;
}

body {
  font-family: "Mulish";
  color: #041b15;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container {
  max-width: 1240px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

#page {
  margin-top: 80px;
}

.section {
  margin-bottom: 30px;
}
.section_h2 {
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .section_h2 {
    margin-bottom: 30px;
  }
}

.input-field {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  border: 1px solid #a2b6c8;
  padding: 15px 10px;
  width: 100%;
}
.input-field::-moz-placeholder {
  color: #6a7c92;
}
.input-field::placeholder {
  color: #6a7c92;
}

.check {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-left: 35px;
  height: 30px;
  display: flex;
  align-items: center;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  box-sizing: border-box;
  background-color: #fafafa;
  border: 1px solid #6a7c92;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check input:checked ~ .checkmark {
  background-color: #eef1f4;
}

.check .checkmark:after {
  left: 9px;
  top: 3px;
  width: 4px;
  height: 12px;
  border: solid #454f5b;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
